In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
campaign_df = pd.read_csv('campaign.csv')

In [3]:
campaign_df

   campaign_id  message send_result                   dates
0      2112020        1   delivered  2020-11-02//2020-11-08
1     26102020        2   delivered  2020-10-26//2020-11-01
2     19102020        3   delivered  2020-10-19//2020-10-25

In [5]:
pd.to_datetime('2020-11-02')

Timestamp('2020-11-02 00:00:00')

In [8]:
campaign_df.campaign_id.map({2112020: '2020-11-02', 26102020:'2020-10-26', 19102020:'2020-10-19'})

0    2020-11-02
1    2020-10-26
2    2020-10-19
Name: campaign_id, dtype: object

In [13]:
campaign_df.dates.str.split('//')

0    [2020-11-02, 2020-11-08]
1    [2020-10-26, 2020-11-01]
2    [2020-10-19, 2020-10-25]
Name: dates, dtype: object

In [14]:
campaign_df.dates.apply(lambda x: x.split('//')[0])

0    2020-11-02
1    2020-10-26
2    2020-10-19
Name: dates, dtype: object

In [15]:
campaign_df['send_date'] = campaign_df.dates.apply(lambda x: x.split('//')[0])

In [40]:
campaign_df.campaign_id = campaign_df.campaign_id.replace(2112020,'02112020')

In [41]:
campaign_df

  campaign_id  message send_result                   dates   send_date
0    02112020        1   delivered  2020-11-02//2020-11-08  2020-11-02
1    26102020        2   delivered  2020-10-26//2020-11-01  2020-10-26
2    19102020        3   delivered  2020-10-19//2020-10-25  2020-10-19

In [17]:
user_campaign = pd.read_json('user_campaign.json')

In [19]:
user_campaign.user_id.nunique()

10000

In [43]:
user_campaign.campaign_list = user_campaign.campaign_list.apply(lambda x: x.split(','))

In [48]:
user_campaign['len_list'] = user_campaign.campaign_list.apply(len)

In [74]:
user_campaign

,user_id,campaign_list,len_list,campaign_1,campaign_2,campaign_3
0,96536,"[0, 26102020, 0]",3,0,26102020,0
1,70637,"[19102020, 26102020, 02112020]",3,19102020,26102020,02112020
2,61663,"[0, 26102020, 02112020]",3,0,26102020,02112020
3,93341,"[0, 26102020, 02112020]",3,0,26102020,02112020
4,91206,"[19102020, 0, 0]",3,19102020,0,0
...,...,...,...,...,...,...
9995,51550,"[19102020, 0, 02112020]",3,19102020,0,02112020
9996,47570,"[0, 26102020, 02112020]",3,0,26102020,02112020
9997,40859,"[19102020, 26102020, 02112020]",3,19102020,26102020,02112020
9998,35663,"[19102020, 26102020, 0]",3,19102020,26102020,0
9999,73339,"[19102020, 0, 0]",3,19102020,0,0

In [50]:
user_campaign.len_list.unique()

array([3])

In [55]:
user_campaign[['campaign_1','campaign_2', 'campaign_3']] = pd.DataFrame(user_campaign.campaign_list.tolist()
                                                                        , index=user_campaign.index)

In [63]:
user_campaign[(user_campaign.campaign_1 == '0')&
              (user_campaign.campaign_2 == '0')&
              (user_campaign.campaign_3 == '0')]

      user_id campaign_list  len_list campaign_1 campaign_2 campaign_3
10      16231     [0, 0, 0]         3          0          0          0
18      10664     [0, 0, 0]         3          0          0          0
49      12530     [0, 0, 0]         3          0          0          0
120     10521     [0, 0, 0]         3          0          0          0
244     46311     [0, 0, 0]         3          0          0          0
...       ...           ...       ...        ...        ...        ...
9759    59057     [0, 0, 0]         3          0          0          0
9793    76461     [0, 0, 0]         3          0          0          0
9806    39035     [0, 0, 0]         3          0          0          0
9825    41867     [0, 0, 0]         3          0          0          0
9955    66245     [0, 0, 0]         3          0          0          0

[250 rows x 6 columns]

In [84]:
user_campaign

,user_id,campaign_list,len_list,campaign_1,campaign_2,campaign_3
0,96536,"[0, 26102020, 0]",3,0,26102020,0
1,70637,"[19102020, 26102020, 02112020]",3,19102020,26102020,02112020
2,61663,"[0, 26102020, 02112020]",3,0,26102020,02112020
3,93341,"[0, 26102020, 02112020]",3,0,26102020,02112020
4,91206,"[19102020, 0, 0]",3,19102020,0,0
...,...,...,...,...,...,...
9995,51550,"[19102020, 0, 02112020]",3,19102020,0,02112020
9996,47570,"[0, 26102020, 02112020]",3,0,26102020,02112020
9997,40859,"[19102020, 26102020, 02112020]",3,19102020,26102020,02112020
9998,35663,"[19102020, 26102020, 0]",3,19102020,26102020,0
9999,73339,"[19102020, 0, 0]",3,19102020,0,0

In [83]:
user_campaign.user_id[user_campaign.campaign_1 != '0'].nunique()

6000

# Campaign_1 
## SEND 6000
### Opened 1320 (OR = 22%)
#### CTU 133 (CTR= 2,2%)




# Campaign_2 
## SEND 8000
### Opened ??? (OR = ??%)
#### CTU ??? (CTR= 2,2%)





# Campaign_3 
## SEND 6800
### Opened ??? (OR = ??%)
#### CTU ??? (CTR= ??%)

In [69]:
user_email_status = pd.read_csv('user_time_emailstatus.csv')

In [78]:
user_email_status.shape

(20800, 3)

In [75]:
user_email_status[user_email_status.user_id == 70637]

       user_id                 time  email_status
0        70637  2020-10-20 16:47:14  ok_delivered
6001     70637  2020-10-29 19:09:12       ok_read
14000    70637  2020-11-02 14:46:37  ok_delivered

In [79]:
mm = user_email_status.merge(user_campaign, how='left', on='user_id')

In [80]:
mm

,user_id,time,email_status,campaign_list,len_list,campaign_1,campaign_2,campaign_3
0,70637,2020-10-20 16:47:14,ok_delivered,"[19102020, 26102020, 02112020]",3,19102020,26102020,02112020
1,91206,2020-10-21 23:13:48,ok_delivered,"[19102020, 0, 0]",3,19102020,0,0
2,45049,2020-10-22 00:19:08,ok_delivered,"[19102020, 0, 02112020]",3,19102020,0,02112020
3,42063,2020-10-25 21:01:46,ok_delivered,"[19102020, 0, 02112020]",3,19102020,0,02112020
4,15367,2020-10-19 15:27:03,ok_delivered,"[19102020, 26102020, 02112020]",3,19102020,26102020,02112020
...,...,...,...,...,...,...,...,...
20795,67661,2020-11-07 02:58:20,ok_read,"[19102020, 26102020, 02112020]",3,19102020,26102020,02112020
20796,72724,2020-11-02 21:55:32,ok_delivered,"[19102020, 26102020, 02112020]",3,19102020,26102020,02112020
20797,51550,2020-11-07 17:55:28,ok_delivered,"[19102020, 0, 02112020]",3,19102020,0,02112020
20798,47570,2020-11-03 00:25:13,ok_read,"[0, 26102020, 02112020]",3,0,26102020,02112020
20799,40859,2020-11-08 01:15:45,ok_delivered,"[19102020, 26102020, 02112020]",3,19102020,26102020,02112020

In [89]:
mm[mm.campaign_1 != '0'].email_status.value_counts()

ok_delivered       11208
ok_read             3244
ok_link_visited      469
Name: email_status, dtype: int64

In [86]:
mm.groupby(['campaign_1','email_status']).agg({'user_id':['count','nunique']})

                           user_id
                             count nunique
campaign_1 email_status
0          ok_delivered       4328    3197
           ok_link_visited     213     212
           ok_read            1338    1241
19102020   ok_delivered      11208    5718
           ok_link_visited     469     451
           ok_read            3244    2712

In [90]:
mm.groupby('campaign_1').agg({'user_id':['count','nunique']})

           user_id
             count nunique
campaign_1
0             5879    3750
19102020     14921    6000

In [91]:
2712/5718

0.47429171038824763

# !!!!!

In [100]:
user_email_status[user_email_status.user_id == 70637]

       user_id                 time  email_status
0        70637  2020-10-20 16:47:14  ok_delivered
6001     70637  2020-10-29 19:09:12       ok_read
14000    70637  2020-11-02 14:46:37  ok_delivered

In [103]:
user_email_status.time = pd.to_datetime(user_email_status.time)

In [104]:
user_email_status.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 3 columns):
user_id         20800 non-null int64
time            20800 non-null datetime64[ns]
email_status    20800 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 487.6+ KB

In [106]:
user_email_status['campaign'] = np.where(user_email_status.time > pd.to_datetime('2020-11-02')
                                         , '02112020'
                                         ,np.where(
                                             pd.to_datetime('2020-10-26') > user_email_status.time
                                             , '19102020', '26102020'))

In [156]:
pd.to_datetime('2020-10-26')

Timestamp('2020-10-26 00:00:00')

In [115]:
user_email_status.groupby(['campaign','email_status']).user_id.count()

campaign  email_status
02112020  ok_delivered       5576
          ok_link_visited     220
          ok_read            1004
19102020  ok_delivered       4680
          ok_link_visited     133
          ok_read            1187
26102020  ok_delivered       5280
          ok_link_visited     329
          ok_read            2391
Name: user_id, dtype: int64

In [146]:
campaign_1 =  user_email_status[user_email_status.campaign == '19102020']

In [147]:
# Whole group that read letter
campaign_1[(campaign_1['email_status'] == 'ok_read') | (campaign_1['email_status'] == 'ok_link_visited')]

      user_id                time     email_status  campaign
6       33506 2020-10-21 04:46:22          ok_read  19102020
10      17905 2020-10-21 17:57:14          ok_read  19102020
13      85690 2020-10-21 04:50:15          ok_read  19102020
14      33133 2020-10-20 22:33:01          ok_read  19102020
17      60558 2020-10-19 06:20:45          ok_read  19102020
...       ...                 ...              ...       ...
5980    86463 2020-10-20 04:32:06          ok_read  19102020
5989    94603 2020-10-23 15:05:50          ok_read  19102020
5990    57322 2020-10-21 23:22:06          ok_read  19102020
5991    67068 2020-10-24 20:39:28          ok_read  19102020
5992    11445 2020-10-19 19:31:16  ok_link_visited  19102020

[1320 rows x 4 columns]

In [148]:
campaign_1['ivan_feature'] = np.where(campaign_1.time.dt.hour >= 16, 
                                      '16-24',
                                      np.where(campaign_1.time.dt.hour < 8,'0-8','8-16'))

/Users/sgafarov/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [149]:
campaign_1.time.dt.hour

0       16
1       23
2        0
3       21
4       15
        ..
5995    19
5996    21
5997    17
5998    17
5999    21
Name: time, Length: 6000, dtype: int64

In [153]:
campaign_1[(campaign_1['email_status'] == 'ok_link_visited')].ivan_feature.value_counts()

16-24    56
8-16     46
0-8      31
Name: ivan_feature, dtype: int64

## open_rate and Click rate depends on hours

In [154]:
## Your code here